<button type="button" class="btn btn-primary btn-lg btn-block" routerLink = "/cadMotorista">Cadastrar um novo mototrista</button>
<button type="button" class="btn btn-primary btn-lg btn-block" routerLink = "/consultarMotoristas">Consultar Motoristas</button>
<button type="button" class="btn btn-primary btn-lg btn-block" routerLink = "/cadPassageiro">Cadastrar um novo Passageiro</button>
<button type="button" class="btn btn-primary btn-lg btn-block" routerLink = "/consultarPassageiros">Consultar passageiros</button>
<button type="button" class="btn btn-primary btn-lg btn-block" routerLink = "/registrarCorrida">Registrar uma corrida</button>
<button type="button" class="btn btn-primary btn-lg btn-block" routerLink = "/consultarCorridas">Consultar corridas</button>
